*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5% 
}

body{
    font-family: 'Lato', sans-serif;
    color: #444;
    letter-spacing: 1px;
    line-height: 1.5;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 2rem auto;
    border-radius: 4px;
    box-shadow: 0px .5rem 1rem rgba(0,0,0,0.2);
    padding: 0 0 2rem;
    overflow: hidden;
    border: 1px solid lightgray;
}

#page-banner{
    background: #eee ;
    padding: 10px 0;

}

#page-banner h1{
    width: 100%;
    margin: 10px 0;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

#search-toDo{
    width: 90%;
    max-width: 300px;
    margin: 2rem auto;
}

#search-toDo input{
    width: 100%;
    display: block;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #444;
    font-family: 'Lato', sans-serif;
    outline: none;
}

#search-toDo label{
    padding: 0 2rem;
    font-size: 1.6rem;
    color: #444;
    letter-spacing: 0;
    display: block;
    transition: all .2s;
}

#search:placeholder-shown + #label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}




#toDo-list, #add-toDo, #tabbed-content{
    margin: 30px;
    font-size: 1.2rem;
}

#toDo-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#toDo-list li{
    padding: 2rem;
    border-left: 50px solid white;
    margin: 2rem 0rem;
    position: relative;
    transition: all .2s;
    cursor: pointer;
    font-size: 1.6rem;

}

#toDo-list li:hover{
    border-left: 50px solid #4286f4;
}

#toDo-list li:hover .delete{
    opacity: 1;
}

.delete{
    color: #fff;
    position: absolute;
    left: -32px;
    top: 17px;
    font-size: 2rem;
    display: block;
    width: 20px;
    opacity: .2;
    transition: all .2s;
    cursor: pointer;
}

.delete:hover{
    color: #eee;
}

#add-toDo{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 400px;
}


#add-toDo input{
    flex: 1;
    font-family: 'Lato', sans-serif;
    display: block;
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    border-radius: 4px 0 0 4px;
    width: 300px;
    outline: none;
}

#add-toDo button{
    flex: 0 0 50px;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    border: 1px solid  #ccc;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    margin: 20px 0;
    border-left: 0;
    color: #000;
    outline: none;
    transition: all .1s;
}

#add-toDo button:hover{
    background-color: #eee;
}

#add-toDo button:active{
    background-color: #ddd;
}

@media screen and (max-width: 31.25em){
    #add-toDo{
        display: block;
        position: relative;
    }

    #add-toDo input{
        border-radius: 4px;
        width: 80%;
        margin: 0 auto;
    }

    #add-toDo button{
        border: 1px solid  #ccc;
        position: absolute;
        top: -20px;
        right: 36px;
    }
}

.lineThrough{
    text-decoration: line-through;
}
